# Ignore Python virtual environments
daypilotvenv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables
.env
.env.local

# Ignore system files
.DS_Store
Thumbs.db

# Ignore large models
model_files/